<template>
    <div>
        <h3>Lista de Productos</h3>
        <img
        v-if="loading" 
        src="./load.gif">
        <ul v-else>
            <li v-for="product in products">{{product.title}}--{{product.price | currency}}--{{product.inventory}}
                <button @click="addProductToCart(product)">Añadir al carrito</button>
            </li>
        </ul>
    </div>
</template>

<script>


export default {
    data(){
        return {
            loading:false
        }
    },
    //como la data viene del store, necesitamos una propiedad computada
   computed:{
       //retornara los productos del state
       products(){
           return this.$store.getters.availableProducts
       }
   },
   methods:{
       addProductToCart(product){
           this.$store.dispatch('addProductToCart', product)
       }
   },
    created(){
        this.loading = true
        this.$store.dispatch('fetchProducts')
        .then(()=> this.loading = false)
    }
}
</script>

<style>

</style>
